extends ./_templates/_layout

//- page vars

block page_vars
	-
		page = {
			name: 			'page',
			title: 			'Page Title',
			description: 	'Page Description'
		}

//- styles

block styles
	//- link(rel='stylesheet' href='./js/vendor/jquery-nice-select/css/nice-select.css')
	//- link(rel='stylesheet' href='./js/vendor/fancybox/dist/css/jquery.fancybox.css')
	//- link(rel='stylesheet' href='./js/vendor/slick-carousel/slick/slick.css')
	//- link(rel='stylesheet' href='./js/vendor/bootstrap/dist/css/bootstrap.min.css')
	//- link(rel='stylesheet' href='./js/vendor/bootstrap/dist/css/bootstrap-grid.min.css')
	link(rel='stylesheet' href='./css/styles.css')

//- scripts

block scripts
	//- script.
		//- head scripts
		// preloader
		//- window.onload = function() {
		//- 	let preloader = document.querySelector('.preloader')
		//- 	preloader.style.display = 'none';
		//- };
		// $(document).ready(function() {});

block js
	script(src='./js/vendor/jquery/dist/jquery.min.js')
	//- script(src='./js/vendor/jquery-form/dist/jquery.form.min.js')
	//- script(src='./js/vendor/svg4everybody/dist/svg4everybody.min.js')
	//- script(src='./js/vendor/jquery-nice-select/js/jquery.nice-select.min.js')
	//- script(src='./js/vendor/jquery.maskedinput/src/jquery.maskedinput.js')
	//- script(src='./js/vendor/jquery-validation/dist/jquery.validate.min.js')
	//- script(src='./js/vendor/jquery-validation/dist/localization/messages_ru.min.js')
	//- script(src='./js/vendor/fancybox/dist/js/jquery.fancybox.pack.js')
	//- script(src='./js/vendor/slick-carousel/slick/slick.min.js')
	//- script(src='./js/vendor/bootstrap/dist/js/bootstrap.min.js')
	//- script(src='https://api-maps.yandex.ru/2.0/?load=package.standard,package.geoObjects&lang=ru-RU')
	script(src='./js/scripts.js')
	script.
		//- body init plugins
		$(document).ready(function() {
			//- svg4everybody();
		});

//- content

block main
	main(block='main')
		p(class='region-name') main region

		div(elem='wrapper')
			section(elem='box')
				h3 svg sprite
				+icon('svg')
				+icon('logo')

			section(elem='box')
				h3 svg inline
				+img('fish.svg', '200px')

			section(elem='box')
				h3 png sprite
				+sprite('yarn')
				+sprite('gulp')
				+sprite('pug')
				+sprite('sass')

			section(elem='box')
				h3 png inline
				+img('cat.png', 'auto', '150px')
