div(block='preloader')
	div(elem='fond')
		div(elem='container-general')
			div(elem='internal')
				div(elem='ballcolor', mod='ball_1')
			div(elem='internal')
				div(elem='ballcolor', mod='ball_2')
			div(elem='internal')
				div(elem='ballcolor', mod='ball_3')
			div(elem='internal')
				div(elem='ballcolor', mod='ball_4')
